{% extends "base.html" %}
{% block body %}
<main>
	<form action="/login" method="post">
		<h1 id="login">Login</h1>
		<input id="username" type="text" name="username" placeholder="Username">
		<input id="password" type="password" name="password" placeholder="Password">
		<input type="hidden" name="client_id" value="{{client_id}}">
		<input type="hidden" name="redirect_url" value="{{redirect_url}}">
		<input type="hidden" name="state" value="{{state}}">
		<input id="submit" type="submit" value="Login">
	</form>
</main>
{% endblock %}
